* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;

}

html {
    background: linear-gradient(to right top, #051937, #512a59, #9c375c, #d15e45, #dc9c23)fixed;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;

}



.container {
    color: white;
    display: flex;
    align-items: center;
    justify-self: center;
    flex-direction: column;
    overflow: hidden;
}

.header {
    margin-top: 20px;
    text-align: center; 
}



.data {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.tempIconSum{
    background: rgba(0, 0, 0, 0.3);
    opacity: 10px;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    margin: 10px;
    width: 80%;
    justify-content: center;
}

.currentTempAndIcon {
    justify-content: center;
}

.temp {
    font-size: 75px;
    padding: 5px;
    text-align:center;
}




#suntime{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-content: space-around;
    font-size: 14px;
    margin: 10px;
}

#hourlySummary{
    text-align: center;
}

#weekSummary{
    font-size: 17px;
    text-align: center;
}


#icon1{
    width: 150px;
    display:flex;
    margin: 0 0 0 60px;
}

.forecast{
    display: flex;
    flex-direction: row;
    width: 90%;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
}

.weekIcons{
    max-width:130px;
    margin: 16px;
}

.forecast-item{
    background: rgba(0, 0, 0, 0.2);
    width: 90%;
    opacity: 10px;
    border-radius: 15px;
    padding: 20px;
    margin: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
}




.forecast-item-temp{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 90%;
}

@media(min-width: 415px){
    .temp {
        font-size: 120px;
    }

}





















::-webkit-scrollbar
{
  width: 12px;  /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
  background: rgba(156, 28, 28, 0.5);
}
